.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    list-style-type: none;
    width: 100%;
    max-width: 1200px;
    padding: 0;
    box-sizing: border-box;
}

.gallery li {
    display: flex;
    justify-content: center;
}